!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/css/style.css'}
    %link{rel: 'stylesheet', href: '/css/codemirror.css'}
    %script{src: '/js/codemirror.js'}
    %script{src: 'http://code.jquery.com/jquery-1.10.1.min.js'}
    %title Run simple-lang
  %body
    .container
      .row
        .col-md-6
          %h3 Code
          %p#code_field
        .col-md-6
          %h3 Result
          %p#result_field
      %p
        %button.btn#run_button{type: 'button'} Run
  :coffee
    editor = CodeMirror $("#code_field")[0], {lineNumbers: true}
    result = CodeMirror $("#result_field")[0], {lineNumbers: true}
    $("#run_button").click ->
      $.post "/run", {source: editor.getValue()}, (ret) ->
        result.setValue(JSON.parse(ret).result)


